body{
	background-image: url("images/background.jpg");
}
#main{
	width: 800px;
	margin:0 auto;
	color: #b3e6ff;
	text-align: center;
}
nav{
	font-size: 1.5em;	
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
	display: inline;
}
a:link { color: #b3e6ff; text-decoration: none;}
a:visited {	color: #b3e6ff;	text-decoration: none;}
a:hover { color: #f3f3f3; text-decoration: none; font-size: 1.05em;}


